<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Web Scraper</title>
  </head>
  <body>
    <h1>Web Scraper</h1>
    <form action="/" method="POST">
      <label for="url">URL:</label>
      <input type="text" name="url" id="url" />
      <button type="submit">Scrape</button>
    </form>
    {{#if scrapedData}}
      <h2>{{scrapedData.title}}</h2>
      <ul>
        {{#each scrapedData.products}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      {{#each scrapedData.screenshots}}
        <img src="/{{this}}" alt="Screenshot" />
      {{/each}}
    {{/if}}
  </body>
</html>
